/**
 * @file
 * Styles for the server notice.
 */

.server-notice-border {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 50;
  pointer-events: none;
}

.server-notice-border > .server-notice-notice {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: white;
}
